.custom-shader {
  background-color: green;
  border-radius: 25px;

}
li {
  display: inline;
  text-decoration: none;
}

#mainCarousel {
  /*height: 230px; nahh*/
  height: auto;
  width: auto;
  overflow: hidden;
}

#logo {
  height: 80px;
}
