{% extends "layout.html" %}
{% from "macros.html" import render_field %}
{%block content%}
<body>
  <!-- <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a href="#" class="navbar-brand"><img src="static\img\loombusinesscardwhite.jpg" alt="" style="height:100%;"/></a>
      </div>
      <ul class="nav navbar-nav">
        <li class="active">Home</li>
        <li>About Us</li>these should all have a tags in them
        <li>Pre-Order</li>
        <li>Contact</li>
      </ul>
    </div>
  </nav>
 -->

  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#"><img src="static\img\loombusinesscardwhite.jpg" alt="" style="height:100%;"/></a>
      </div>
      <ul class="nav navbar-nav pull-right">
        <li class="active"><a href="#aboutus" class="page-scroll">About Us</a></li>
        <li><a href="#preorder" class="page-scroll">Pre-Order</a></li>
        <li><a href="#contact" class="page-scroll">Contact</a></li>
            {% if current_user.is_authenticated %}
                <!-- <li><a href="/logout">Logout</a></li> -->
            {% else %}
              <!-- <li><a href="/register">Register</a></li>
              <li><a href="/login">Login</a></li> -->
            {%endif%}
      </ul>
    </div>
  </nav>
  <div class="row">
    <img id="logo" src="static\img\loom vr back 720.png" alt="" />
  </div>
  <div class="container">
    <!-- <div class="row">
      <h1 class="jumbotron col-md-10">LOOMVR</h1>
      <div class="col-md-12">
        <ul>
        </ul>
      </div>
    </div> -->

    <div class="row">
        <div class="col-md-4 text-center">
          <div class="card" id="aboutus">
            <div class="card-image waves-effect waves-block waves-light">
              <img class="imageMajor" src="static\img\whatAreWe.png" alt="LoomVR Logo" />
            </div>
            <div class="card-content">
              <span class="card-title activator grey-text text-darken-4">What is Loom?<i class="material-icons right">more_vert</i></span>

            </div>
            <div class="card-reveal">
              <span class="card-title grey-text text-darken-4">Little more about loom<i class="material-icons right">close</i></span>
              <p>Want to know a bit more about Loom, heres where you can find out. I hope you have a great day mrs/mr visitor</p>
            </div>

          </div>
        </div>
        <div class="col-md-4 text-center">
            <!-- <h3>What Features help you learn?</h3>
            <br>
            <p>
              <ol>
                <li>See the definition of objects in the world</li>
                <li>Have actual conversations with the townspeople -microphone required-</li>
                <li>Navigate through our fun story</li>
              </ol>
            </p> -->
            <div class="card">
              <div class="card-image waves-effect waves-block waves-light">
                <img src="static\img\Learning.png" class="imageMajor" alt="" />
              </div>
              <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">Learning<i class="material-icons right">more_vert</i></span>
                <p><a href="#"></a></p>
              </div>
              <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">Learn through Immersion<i class="material-icons right">close</i></span>
                <p>Learn a language through immersion</p>
              </div>
            </div>


        </div>
        <div class="col-md-4 text-center">
          <!-- <h3>Do I need a VR headset</h3>
          <br>
          <p>
            While a VR headset is highly recommened to get the full experience, we have a version thats just for desktop users
          </p> -->

        <div class="card">
          <div class="card-image waves-effect waves-block waves-light">
            <img src="static\img\Vr.png" class="imageMajor" alt="" />
          </div>
          <div class="card-content">
            <span class="card-title activator text-darken-4">Why VR??<i class="material-icons right">more_vert</i></span>
            <!-- <p><a href="#">This is a link</a></p> -->
          </div>
          <div class="card-reveal">
              <span class="card-title grey-text text-darken-4">Well Let me tell you!<i class="material-icons right">close</i></span>
            <p>Immersion is proven to teach faster. Plus its just so awesome. <br></p>
            <!-- <ul class="collection">
              <li class="collection-item">An</li>
              <li class="collection-item">Explanation</li>
              <li class="collection-item"><i class="material-icons">favorite</i></li>
            </ul> -->
          </div>
        </div>


        </div>
    </div>
    <div class="row">
      <div class="col-md-12 text-center">
        <h2>Join our emailing list!</h2>
        <form method="POST" id="mailingForm" action="" role="form">
            {{ emailForm.hidden_tag() }}
            {% for field in emailForm %}
            <!-- <label for="{{field.name}}">{{field.label.text}}</label> -->
                {{ render_field(field) }}
            {% endfor %}
            <button type="submit" class="btn btn-success" style="margin: 0 auto;" id="submit">{{thanks}}</button>
          </form>
      </div>
      <!-- <div class="col-md-6">
        <h1 style="font-size:5em;">Website is a work in progress</h1>
      </div> -->
    </div>
  </div>
    <div class="row about-us">
      <div class="col-md-12">
        <h3 class="text-center">About us</h3>
        <br>
        <br>
        <p class="text-center">
          We are a group of four college students who created Loom out of our dorm rooms.<br> We want to build the productive future of VR
        </p>
        <br>
      </div>
    </div>
    <div class="row about-us">
      <!-- all our pictures -->
      <div class="col-md-3 text-center">
        <h4>Chief Developer</h4>
        <img src="static\img\me.jpg" class="team-pic" alt="" />
        <h3>David Axelrod</h3>
      </div>
      <div class="col-md-3 text-center">
        <h4>Developer</h4>
        <img src="static\img\alex.JPG" class="team-pic" alt="" />
        <h3>Alex Jackson</h3>
      </div>
      <div class="col-md-3 text-center">
        <h4>Developer</h4>
        <img src="static\img\jack.jpg" class="team-pic" alt="" />
        <h3>Jack Guinta</h3>
      </div>
      <div class="col-md-3 text-center">
        <h4>Chief Designer</h4>
        <img src="static\img\jesse.jpg" class="team-pic" alt="" />
        <h3>Jesse Pelzar</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 text-center">
        <br>
        <h1>Learn with Loom</h1>
        <p>Loom is a desktop application that allows user to learn a language in an imersive environment. Users can verbally speak with characters, play games, explore our town and much much more!</p>
        <br>
      </div>
    </div>
    <div class="row vr-centric text-center">
      <div class="col-md-12">
        <h1>Built for Vr</h1>
        <p>We focused our development to prepare for the launch of major vr headsets. We believe that a fully immersive experience is the quickest way to learn any language and we want to place</p>
        <br>
      </div>
    </div>
  </div>
<div class="container">

    <div class="row">
      <div class="col-md-12">
        <div id="mainCarousel" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#mainCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#mainCarousel" data-slide-to="1"></li>
            <li data-target="#mainCarousel" data-slide-to="2"></li>
            <li data-target="#mainCarousel" data-slide-to="3"></li>
            <li data-target="#mainCarousel" data-slide-to="4"></li>
          </ol>

          <!-- slide wrapper -->
        <div class="carousel-inner" role="listbox">
          <div class="item active">
            <img src="static/img/house.jpg" alt="Loom logo"/>
          </div>

          <div class="item">
            <img src="static/img/panaderia.jpg" alt="La panaderia" />
          </div>

          <div class="item">
            <img src="static/img/cheepiesren.jpg" alt="Chipis grill" />
          </div>

          <div class="item">
            <img src="static/img/ladywithoculus.jpg" alt="" />
          </div>

        </div>

        <!-- controls -->
        <a href=""></a>
        <a class="left carousel-control" href="#mainCarousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="right carousel-control" href="#mainCarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="row about-us text-center">
    <div class="col-md-12">
      <h2 id="preorder">Preorder</h2>
      <h6>While you can'y preorder right now, join our mailing list to find out more information and when loom is ready for preorder.</h6>
      <br>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 text-center" id="contact">
      <h2>Contact Us!</h2>
      <p>Shoot us an email! <br>contact@loomvr.com</p>
    </div>
  </div>



<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>
</body>
{%endblock%}
