{% extends "layout.html" %}
{% from "macros.html" import render_field %}
{%block content%}
<body>
  <!-- <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a href="#" class="navbar-brand"><img src="static\img\loombusinesscardwhite.jpg" alt="" style="height:100%;"/></a>
      </div>
      <ul class="nav navbar-nav">
        <li class="active">Home</li>
        <li>About Us</li>these should all have a tags in them
        <li>Pre-Order</li>
        <li>Contact</li>
      </ul>
    </div>
  </nav>
 -->

 <nav>
   <div class="nav-wrapper navbar-inverse">
     <a href="#" class="brand-logo">LoomVR</a>
     <a href="#" data-activates="mobile-nav" class="button-collapse right-5"><i class="material-icons">menu</i></a>
     <ul class="right hide-on-med-and-down left-3">
       <li><a href="#">Home</a></li>
       <li><a href="#aboutus" class="page-scroll">Our Team</a></li>
       <li><a href="#mailing-list" class="page-scroll">Contact</a></li>
     </ul>
     <ul class="side-nav" id="mobile-nav">
       <li><a href="#">Home</a></li>
       <li><a href="#aboutus" class="page-scroll">Our Team</a></li>
       <li><a href="#mailing-list" class="page-scroll">Contact</a></li>
       <!-- <li class="login-toggle"><a class="modal-trigger" href="#modal-login">Login</a></li> modal style-->

     </ul>
   </div>
 </nav>





  <!-- <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#"><img src="static\img\loombusinesscardwhite.jpg" alt="" style="height:100%;"/></a>
      </div>
      <ul class="nav navbar-nav pull-right">
        <li class="active"><a href="#aboutus" class="page-scroll">About Us</a></li>
        <li><a href="#preorder" class="page-scroll">Pre-Order</a></li>
        <li><a href="#contact" class="page-scroll">Contact</a></li>
        <li><a href="/blog">Blog</a></li>
            {% if current_user.is_authenticated%}
                <li><a href="/logout">Logout</a></li>

            {% else %}
               <li><a href="/register">Register</a></li>
              <li><a href="/login">Login</a></li>
            {%endif%}
      </ul>
    </div>
  </nav> -->
  <div class="row">
    <img id="logo" src="static\img\loom vr back 720.png" alt="" />
    <div class="caption center-align">
          <h3 id="centerCaption">Virtual Reality Language Learning</h3>
    </div>
  </div>
  <div class="container">
    <!-- <div class="row">
      <h1 class="jumbotron col-md-10">LOOMVR</h1>
      <div class="col-md-12">
        <ul>
        </ul>
      </div>
    </div> -->

    <div class="row">
        <div class="col-md-4 text-center">
          <div class="card" id="aboutus">
            <div class="card-image waves-effect waves-block waves-light">
              <img class="imageMajor" src="static\img\whatAreWe.png" alt="LoomVR Logo" />
            </div>
            <div class="card-content activator">
              <span class="card-title activator grey-text text-darken-4">What is Loom?</span>
            </div>
            <div class="card-reveal">
              <span class="card-title grey-text text-darken-4"><strong>What is Loom?</strong><i class="material-icons right">close</i></span>
              <h3 class="flow-text">Explore a virtual Spanish town and speak with native Spaniards, while trying to build a life for yourself in Spain. Play mini games to earn money and strengthen your vocabulary. Get lost in the immersive experience, and live out your dreams of visiting a foreign country while becoming fluent in Spanish. </h3>
            </div>

          </div>
        </div>
        <div class="col-md-4 text-center">
            <!-- <h3>What Features help you learn?</h3>
            <br>
            <p>
              <ol>
                <li>See the definition of objects in the world</li>
                <li>Have actual conversations with the townspeople -microphone required-</li>
                <li>Navigate through our fun story</li>
              </ol>
            </p> -->
            <div class="card">
              <div class="card-image waves-effect waves-block waves-light">
                <img src="static\img\Learning.png" class="imageMajor" alt="" />
              </div>
              <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">Education through Immersion</span>
                <p><a href="#"></a></p>
              </div>
              <div class="card-reveal">
                <span class="card-title grey-text text-darken-4"><strong>Education through Immersion</strong><i class="material-icons right ">close</i></span>
                <p class="flow-text">
                  Loom VR is lightyears ahead of contemporary language learning programs. Why make language learning a chore? Why pay hundreds of dollars for a program filled with glorified index cards? Loom VR is a real world, real time, language learning experience that revolutionizes the learning process.
                </p>
              </div>
            </div>


        </div>
        <div class="col-md-4 text-center">
          <!-- <h3>Do I need a VR headset</h3>
          <br>
          <p>
            While a VR headset is highly recommened to get the full experience, we have a version thats just for desktop users
          </p> -->

        <div class="card">
          <div class="card-image waves-effect waves-block waves-light">
            <img src="static\img\Vr.png" class="imageMajor" alt="" />
          </div>
          <div class="card-content">
            <span class="card-title activator text-darken-4">Why VR?</span>
          </div>
          <div class="card-reveal">
              <span class="card-title grey-text text-darken-4"><strong>Why VR?</strong><i class="material-icons right">close</i></span>
              <p class="flow-text">
                Loom VR is an immersive language learning environment that enables you to learn at a faster pace than any other program on the market. The best way to learn a language is to immerse yourself entirely in the language through sight, sound, and speech.
              </p>
            <!-- <ul class="collection">
              <li class="collection-item">An</li>
              <li class="collection-item">Explanation</li>
              <li class="collection-item"><i class="material-icons">favorite</i></li>
            </ul> -->
          </div>
        </div>


        </div>
    </div>
    <div class="row">
      <div class="col-md-12 text-center" id="mailing-list">
        <h2>Join our mailing list!</h2>
        <h4>Enter for a chance to win a $50 Amazon gift card and a free copy of Loom!</h4>
        <form method="POST" id="mailingForm" action="" role="form">
            {{ emailForm.hidden_tag() }}
            {% for field in emailForm %}
            <!-- <label for="{{field.name}}">{{field.label.text}}</label> -->
                {{ render_field(field, "Enter your Email Address") }}
            {% endfor %}
            <button type="submit" class="btn btn-success" style="margin: 0 auto;" id="submit">{{thanks}}</button>
          </form>
      </div>
      <!-- <div class="col-md-6">
        <h1 style="font-size:5em;">Website is a work in progress</h1>
      </div> -->
    </div>
  </div>
    <div class="row about-us">
      <!-- all our pictures -->
      <div class="col-md-3 text-center">
        <h4>Developer</h4>
        <img src="static\img\me.jpg" class="team-pic" alt="" />
        <h3>David Axelrod</h3>
      </div>
      <div class="col-md-3 text-center">
        <h4>Developer</h4>
        <img src="static\img\alex.JPG" class="team-pic" alt="" />
        <h3>Alex Jackson</h3>
      </div>
      <div class="col-md-3 text-center">
        <h4>Developer</h4>
        <img src="static\img\jack.jpg" class="team-pic" alt="" />
        <h3>Jack Guinta</h3>
      </div>
      <div class="col-md-3 text-center">
        <h4>Designer</h4>
        <img src="static\img\jesse.jpg" class="team-pic" alt="" />
        <h3>Jesse Pelzar</h3>
      </div>
    </div>
  </div>
<div class="container">

    <div class="row">
      <div class="col-md-12">
        <div id="mainCarousel" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#mainCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#mainCarousel" data-slide-to="1"></li>
            <li data-target="#mainCarousel" data-slide-to="2"></li>
            <li data-target="#mainCarousel" data-slide-to="3"></li>
            <li data-target="#mainCarousel" data-slide-to="4"></li>
          </ol>

          <!-- slide wrapper -->
        <div class="carousel-inner" role="listbox">
          <div class="item active">
            <img src="static/img/house.jpg" alt="Loom logo"/>
          </div>

          <div class="item">
            <img src="static/img/panaderia.jpg" alt="La panaderia" />
          </div>

          <div class="item">
            <img src="static/img/cheepiesren.jpg" alt="Chipis grill" />
          </div>

          <div class="item">
            <img src="static/img/ladywithoculus.jpg" alt="" />
          </div>

        </div>

        <!-- controls -->
        <a href=""></a>
        <a class="left carousel-control" href="#mainCarousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="right carousel-control" href="#mainCarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="row about-us text-center">
    <div class="col-md-12">
      <h2 id="preorder">Preorder</h2>
      <h6>While you can'y preorder right now, join our mailing list to find out more information and when loom is ready for preorder.</h6>
      <br>
      <p>Like us on Facebook</p>
      <div
        class="fb-like"
        data-share="true"
        data-width="450"
        data-show-faces="true">
      </div>
    </div>
  </div> -->

  <div class="row">
    <div class="col-md-12 text-center about-us" id="contact">
      <h2>Contact Us!</h2>
      <p>Shoot us an email! <br>contact@loomvr.com</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center">
      <br>
      <!-- <button type="button" name="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#loginModal">Want to login?</button> -->

      <div id="loginModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">Login here?.....!</h4>
            </div>
            <div class="modal-body">
              <p>Render form here
              note that the form would have to be passed to the same template</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>

        </div>
      </div>

    </div>
  </div>



<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>
<!-- <script type="text/javascript">
  function placeDiv(xPos, yPos){
    var d = document.getElementById("placingDiv");
    // var d = $("#placingDiv");
    d.style.position = "absolute";
    d.style.left = xPos+"px";
    // d.style.top = yPos+"px";
    console.log($(window).width() + " window width");
    if ($(window).width() >= 600) {
      d.style.color = "green";
    } else {
      d.style.color = "black";
    }
  }


</script> -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-80002242-1', 'auto');
  ga('send', 'pageview');

</script>
</body>
{%endblock%}
