{% macro render_field(field) %}
    <div class="field form-group">
        {% if field.errors %}
            {% for error in field.errors %}
                <div class="notification error">{{ error }}</div>
            {% endfor %}
        {% endif %}
        {%if "Csrf" not in field.label.text %}
        <label for="{{field.label.text}}">{{field.label.text}}</label>
        {%endif%}
        {{ field(placeholder=field.label.text, class="form-control", id="{{field.label.text}}") }}
    </div>
{% endmacro %}
